////////////////////////
//Mixins and Variables//
////////////////////////
/* Some of these already exist in our production CSS file. Including here for local dev purposes. */
.transformer {
	margin-top: 55px;
}

$desti-header-height: 55px;
$main-height: calc(100vh - #{$desti-header-height});
$lander-width: 100%;
$previews-width: 100%;
$preview-padding: 0px;
$whbm-blue: #6dd8f5;

$mobile-detail-padding: 0 25px;
$mobile-unexpanded-transform: 100vw;
$mobile-expanded-transform: 10vw;
$mobile-cta-width: 50px;

@font-face {
	font-family: 'Quickpen';
	src: url('../fonts/2FB76C_0_0.eot');
	src: url('../fonts/2FB76C_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2FB76C_0_0.woff2') format('woff2'),
		 url('../fonts/2FB76C_0_0.woff') format('woff'),
		 url('../fonts/2FB76C_0_0.ttf') format('truetype');
}

@mixin prefix-transform($value) {
	-webkit-transform: $value;
	   -moz-transform: $value;
		-ms-transform: $value;
			transform: $value;
}

@mixin center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	@include prefix-transform($value: translate(-50%,-50%));
	width: 100%;
}

@mixin center-vertically {
	position: absolute;
	top: 50%;
	@include prefix-transform($value: translateY(-50%));
}

@mixin center-horizontally {
	position: absolute;
	left: 50%;
	@include prefix-transform($value: translateX(-50%));
	width: 100%;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

@mixin clearfix {
   &:after { 
	   content: "."; 
	   visibility: hidden; 
	   display: block; 
	   height: 0; 
	   clear: both;
   } 
}

///////////
//Desktop//
///////////

/* General */
#whbm-201703 {
	width: 100%;
	height: 100%;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

em {
	font-style: italic;
}

// .copy-link {
// 	font: inherit;
// 	color: inherit;
// 	text-decoration: underline;

// 	&:hover {
// 		text-decoration: underline;
// 	}
// }

.small-hed {
    display: block;
	font-family: "Chronicle Display A","Chronicle Display B";
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 35px;
	margin-bottom: -7px;    
}

.col {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.col-1-2 {
	width: 50%;
}

.only-mobile {
	display: none;
}

.only-non-mobile {
	display: block;
}

.newlined-text {
	display: block;
}

.whbm-colorblock {
	display: none;
}

/* Lander */
.whbm-lander {
	display: inline-block;
	width: 100%;
	margin-right: 0.5%;
	max-width: $lander-width;
	height: 30%;
	min-height: 280px;
	top: 0;
	z-index: 50;
}

.whbm-lander-overlay {
	@include center-horizontally;
	top: 100px;
	max-width: 850px;

	.whbm-lander-hed {
		font-family: "Didoni-urw", serif;
		font-weight: 500;
		line-height: .5;
		font-size: 119.02px;
		letter-spacing: -.5px;
		text-transform: uppercase;
		text-align: center;
		color: rgb(46, 45, 47);
		margin: 10px 0px 28px 0px;
		@include font-smoothing;
	}
	
	.script-flair {
		text-transform: initial;
		display: block;
		margin-top: 7px;
		font-size: 39px;
		line-height: normal;
		letter-spacing: 0;
		font-family: 'Quickpen';
		text-align: center;
		@include font-smoothing;
	}

	.whbm-lander-subhed {
		font-size: 18px;
		line-height: 33px;
		font-family: "brandon-grotesque";
		text-transform: uppercase;
		font-weight: 500;
		color: rgb(46, 45, 47);
		letter-spacing: 7.5px;
		text-align: center;
		width: 70%;
		margin: 0 auto;
		padding-top: 13px;
		@include font-smoothing;		
	}

	.whbm-cta-stacked {
		font-size: 40px;
		transform: rotate(90deg);
		color: #8c8c92;
		display: block;
	    width: 40px;
	    height: 40px;
	    margin: 30px auto 0;
	    font-weight: 600;
	    cursor: pointer;
	}
}

/* Main Content (Grid on Desktop, Stacking/Snapping Slides on Mobile) */
.whbm-main-content {
	display: inline-block;
	width: $previews-width;
	height: 100%;
	margin-top: 100px;
	padding: 15px;
	position: relative;
}

// Previews
.whbm-previews {
	.whbm-preview {
		width: 33%;
		max-width: 465px;
		height: 750px;
		display: inline-block;
		position: relative;
		overflow: hidden;
		border-radius: 2px;
		padding: $preview-padding;
		cursor: pointer;

		.whbm-preview-img {
			// position: absolute; 
			// width: 100%;
			// top: 50%;
			// -ms-transform: translateY(-50%);
			// -webkit-transform: translateY(-50%);
			// transform: translateY(-50%);
			object-fit: cover;
			width: 465px;
			height: 750px;
		}
		
		.whbm-preview-overlay {
			position: absolute;
			top: $preview-padding;
			left: $preview-padding;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.42);
		}

		.whbm-preview-txt {
			@include center-content;
			width: 100%;
			height: 100%;
			
			.whbm-preview-hed {
				color: #fff;
				text-align: center;		
				font-size: 22px;
				line-height: 1.5;
				font-weight: 700;
				font-family: "brandon-grotesque";
				letter-spacing: 5px;
				text-transform: uppercase;
				width: 88%;
				margin: 0 auto;
				padding: 8px 0px;
				@include font-smoothing;
				@include center-content;
			}

			.whbm-preview-hed:before {
				content: '';
				display: block;
				margin: auto;
				height: 2px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}

			.whbm-preview-hed:after {
				content: '';
				display: block;
				margin: auto;
				height: 2px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}

			.whbm-preview-cta {
				margin-top: 27px;
				margin-bottom: 8px;
				font-size: 10.5px;
				font-weight: 700;
				letter-spacing: 3px;
				font-family: "brandon-grotesque";
				color: #fff;
				opacity: .9;
				line-height: 1.45;
				text-transform: uppercase;
				text-align: center;
				@include font-smoothing;
			}		
		}

		.whbm-preview-txt:hover {
			background-color: rgba(0,0,0,.42);
			transition: all .5s;

			.whbm-preview-hed:before {
				content: '';
				display: block;
				margin: auto;
				height: 2px;
				width: 75%;
				margin-bottom: 10px;
				background: #fff;
			}

			.whbm-preview-hed:after {
				content: '';
				display: block;
				margin: auto;
				height: 2px;
				width: 75%;
				margin-top: 10px;
				background: #fff;
			}
		}
	}
}
// Expanded Details

.whbm-detail {
	display: none;
	position: relative;
}

//Intro (Image + Copy)
.whbm-intro {
	@include clearfix;
	margin-top: 22px;

	p {
		.whbm-credit-link {
			display: none;
		}
	}

	.whbm-credit-mobile {
		display: none;
	}

	.whbm-intro-img {
		width: 100%;
		height: 100%;
	}

	.whbm-intro-hed {
		font-size: 15.75px;
		line-height: 20.5px;
		font-family: "brandon-grotesque";
		text-transform: uppercase;
		font-weight: 600;
		color: rgba(0, 0, 0, 0.70);
		letter-spacing: 3.2px;
		text-align: left;
		@include font-smoothing;
		margin: 16px 15px 23px 0px;
		border-bottom: 2px solid rgba(0, 0, 0, 0.25);
		padding-bottom: 11px;
		max-width: 350px;
	}

	.whbm-intro-subhed {
		font-family: "Chronicle Display A","Chronicle Display B";
		font-weight: 200;
		line-height: .99;
		font-size: 44px;
		letter-spacing: -.5px;
		text-transform: none;
		text-align: left;
		font-style: italic;
		color: #000;
		@include font-smoothing;
		margin: 10px 20px 10px -5px;
	}

	.whbm-intro-copy {
		font-family: "freight-text-pro";
		font-weight: 400;
		font-size: 19.25px;
		text-align: left;
		line-height: 30px;
		width: 88%;
		letter-spacing: 0;
		padding-right: 5%;
		color: rgba(0, 0, 0, 0.85);
		margin: 27px 0 10px 0;
		@include font-smoothing;

		b {
			font-weight: 700;
		}

		i {
			font-style: italic;
		}

		a {
			font-weight: 500;
			color: #000;
			text-decoration: underline;

			&:hover {
				opacity: 0.7;
				transition: all 0.5s;
			}
		}
	}

	p {
		font-family: "freight-text-pro";
		font-weight: 400;
		font-size: 19.25px;
		text-align: left;
		line-height: 30px;
		width: 88%;
		letter-spacing: 0;
		padding-right: 5%;
		color: rgba(0, 0, 0, 0.85);
		margin: 27px 0 10px 0;
		@include font-smoothing;
	}	

	.whbm-credit-link {
		font-family: "brandon-grotesque";
		font-weight: 700;
		text-transform: uppercase;
		color: #c3c3c3;
		font-size: 9.25px;
		line-height: 10px;
		cursor: pointer;
		letter-spacing: 1.75px;
		transition: opacity .3s;
		@include font-smoothing;

		&:hover {
			opacity: 0.7;
		}
	}

	.whbm-credit {
		font-family: "brandon-grotesque";
		font-weight: 700;
		text-transform: uppercase;
		color: #c3c3c3;
		font-size: 9.25px;
		line-height: 10px;
		cursor: pointer;
		letter-spacing: 1.75px;
		transition: opacity .3s;
		margin: 6px 0 0 0 !important;
		@include font-smoothing;
	}
}

// Products
.whbm-products {
	margin-top: 50px;

	.whbm-products-hed {
		font-family: "Chronicle Display A","Chronicle Display B";
		font-weight: 200;
		line-height: 1.05;
		font-size: 45px;
		letter-spacing: -.5px;
		text-transform: none;
		text-align: center;
		font-style: italic;
		margin: 0;
		@include font-smoothing;
		padding-bottom: 25px;
		border-bottom: 1px solid #eaeaea;
		width: 100%;

		&:before {
			right: 62.5%;
		}

		&:after {
			left: 62.5%;
		}
	}
}

.whbm-products-wrapper {
	text-align: center;
	margin-bottom: 50px;

	.whbm-product {
		position: relative;
		display: inline-block;
	    width: 20%;
	    margin: 0 1%;
	    vertical-align: top;
	    cursor: pointer;	

	    .whbm-product-img {
	    	margin-bottom: 3px;
	    }	

	    .whbm-product-hed {
			font-family: "freight-text-pro";
			font-weight: 400;
			color: #545454;
			font-size: 17px;
			letter-spacing: 0;
			line-height: 23px;
			@include font-smoothing;
	    }

	    .whbm-product-subhed {
	    	margin-bottom: 5px;
	    }

	    .whbm-product-price {
			line-height: 25.5px;
			font-family: "brandon-grotesque";
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 13.5px;
			font-weight: 400;
			color: #9e9898;
			transition: color .3s;
			@include font-smoothing;
	    }

	    .whbm-buy-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
	    }

	    .whbm-buy {
			opacity: 0;
			cursor: pointer;
			display: block;
			font-family: "brandon-grotesque";
			font-style: normal;
			text-transform: uppercase;
			background-color: #000000;
			font-weight: 700;
			background: #292929;
			color: #fff;
			letter-spacing: .2em;
			font-size: .69em;
			line-height: 2;
			border-radius: 2px;
			max-width: 115px;
			padding: 10px 12px;
			transition: all 0.25s;
			transform: none;
			margin: 0 auto;
			@include font-smoothing;
			@include center-content;
			top: 42%;

		    &:hover {
				background-color: #292929;
		    }	    	
	    }

		&:hover {
			.whbm-product-img,
			.whbm-product-hed,
			.whbm-product-subhed,
			.whbm-product-price {
				opacity: .7;
			}

			.whbm-buy {
				opacity: 1;
			}
		}	

	}
}

// Close Icon
.whbm-detail-closer {
	cursor: pointer;
	height: 54px;
	width: 54px;
	position: absolute;
	right: 10px;
	top: -26px;
	background-color: #efefef;
	opacity: .50;
	border-radius: 100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	transition: all .3s;
	z-index: 25;

	.whbm-close-icon {
	    position: relative;
	    top: 15.75px;
	    left: 14.75px;

	    &:before {
		    content: "\e900";
		    color: #000;
		    font-size: 25px;
		    transform: rotate(45deg);
	    }
	}

	&:hover {
		background-color: rgba(71, 72, 76, 0.60);
	}
}

//Prev & Next Buttons
.whbm-nav {
	display: none;
	position: absolute;
	height: 25px;
	width: 100%;
	left: 0;
	bottom: 25px;
}

.whbm-nav-btn {
	position: absolute;
	bottom: 0;
	z-index: 25;
	color: #47484c;
	font-family: "brandon-grotesque";
    font-weight: 500;
	font-size: 11px;
	letter-spacing: 3px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .3s;

	&.whbm-prev {
		left: 20px;
	}

	&.whbm-next {
		right: 20px;
	}

	&:hover {
		font-weight: 700;
	}

	.whbm-nav-icon {
		display: inline-block;
		vertical-align: middle;
	    margin-bottom: 5px;
	
	    &:before {
		    font-size: 25px;
	    }
	}
}


//////////////////////////////////
//Good Resolution Laptop/Desktop//
//////////////////////////////////
// @media (max-width: 1440px) {

// //Intro (Image + Copy)
// .whbm-intro {
// 	.whbm-intro-hed {
// 		font-size: 41px;
// 		line-height: 43px;
// 		margin-top: 3px;
// 	}

// 	.whbm-intro-copy {
// 		padding: 9px 36px 10px 5px;
// 	}	
// }

// }

////////
//MBP//
///////
@media (min-width: 1151px) and (max-width: 1280px) {

	.whbm-preview {

		&:hover {
			.whbm-preview-txt .whbm-preview-cta {
				font-weight: 900;
			}
		}

		.whbm-preview-txt {
			.whbm-preview-hed {
				font-size: 29px;
			}
			.whbm-preview-cta {
				font-size: 10px;
				letter-spacing: 2.25px;
				margin-top: 25px;
				font-weight: 600;
			}
		}
	}

// .whbm-intro {
// 	.whbm-intro-hed {
// 	    font-size: 38px;
// 	    line-height: 40px;		
// 	}
// 	.whbm-intro-copy {
// 	    padding-right: 12px;
//         padding-top: 5px;
//         font-size: 15.5px;
// 	    line-height: 1.5;
// 	}
// }

	.small-hed {
	    margin-bottom: -8px;
	    line-height: 33px;
	    font-size: 18px;
	}

	.col {
	    &.col-img {
	    	padding: 0;
	    }	
	    &.col-text {
	    	padding-left: 50px;
	    }
	}
}


/////////////////////
//Tablet Landscape//
////////////////////
@media (max-width: 1150px) {

	#whbm-201703 {
		margin: initial;
	}

	.whbm-lander {
		margin-bottom: 50px;
	}

	.whbm-main-content {
		display: block;
		width: 100%;
		min-height: 0;
		margin: 20px 0 0;
	}
	
	.whbm-previews {
		.whbm-preview {
			.whbm-preview-img, .whbm-preview-overlay {
				height: 680px;
			}

			.whbm-preview-txt {
				.whbm-preview-hed {
					font-size: 15px;

					&:before {
						content: '';
						display: block;
						margin: auto;
						height: 2px;
						width: 75%;
						margin-bottom: 10px;
						background: #fff;
					}

					&:after {
						content: '';
						display: block;
						margin: auto;
						height: 2px;
						width: 75%;
						margin-top: 10px;
						background: #fff;
					}
				}
			}
		}
	}

	.whbm-intro {
		.whbm-intro-hed {
			font-size: 12.75px;
			margin: 0 15px 23px 0;
		}

		.whbm-intro-subhed {
			font-size: 32px;
		}

		.whbm-intro-copy {
			width: 100%;
			font-size: 17.25px;
			line-height: 28px;
		}
	}

	.whbm-lander-overlay {
		top: 51px;

		.script-flair {
			margin-top: 7px;
			margin-bottom: -8px;
			font-size: 35px;
		}
	}
}

///////////////////
//Tablet Portrait//
///////////////////
@media (max-width: 991px) {

	.whbm-main-content {
		padding: 0;
	}

	.whbm-previews {
		text-align: center;

		.whbm-preview {
			max-width: 240px;

			.whbm-preview-txt {
				.whbm-preview-hed {
					max-width: 255px;
					margin: 0 auto;
				}
			}
		}
	}

	.whbm-details {
		padding-top: $desti-header-height;
	}

	.whbm-detail-closer {
		right: 5px;
		opacity: 1;
	}

	.whbm-intro {
		p {
			.whbm-credit-link {
				font-family: "brandon-grotesque";
				font-weight: 700;
				text-transform: uppercase;
				color: #c3c3c3;
				margin-top: 10px;
    			text-decoration: none;
				font-size: 9.25px;
				line-height: 10px;
				cursor: pointer;
				letter-spacing: 1.75px;
				transition: opacity .3s;
				display: block;
				@include font-smoothing;

				&:hover {
					opacity: 0.7;
				}
			}
		}

		.whbm-credit-mobile {
			font-family: "brandon-grotesque";
			font-weight: 700;
			text-transform: uppercase;
			color: #c3c3c3;
			margin-top: 10px;
			font-size: 9.25px;
			line-height: 10px;
			cursor: pointer;
			letter-spacing: 1.75px;
			transition: opacity .3s;
			margin: 6px 0 0 0 !important;
			display: block;
			@include font-smoothing;
		}
	}
	
	.whbm-credit-link {
		display: none;
	}

	.whbm-credit {
		display: none;
	}
}

////////////////////////
//Tablet Portrait Only//
///////////////////////
@media (min-width: 768px) and (max-width: 991px) {

	.whbm-intro {
		margin: 0 auto 50px;
	}

	.col-1-2 {
		float: none;
		padding: 0;
		margin: 0 auto;

		&.col-img {
			width: 90%;
		};

		&.col-text {
			width: 70%;
			background-color: #fff;
			//From Olay Shoulder desti
		    box-shadow: 0px 10px 88.35px 6.65px rgba(0, 0, 0, 0.1);
		    //From WHBM 9 to 5 desti
		    box-shadow: -3px 3px 10px 1px rgba(0, 0, 0, 0.1);
		    padding: 30px;
		    position: relative;
		    margin-top: -250px;
		    z-index: 25;
		}
	}

	.whbm-nav {
		bottom: 10px;
	}

}


//////////
//Mobile//
//////////
@media (max-width: 767px) {

/* General */
.whbm-201703 {
	max-width: none;
}

.only-mobile {
	display: block;
}

.only-non-mobile {
	display: none;
}

.col-1-2 {
	float: none;
	padding: 0;
	width: 90%;

	&.col-text {
		width: 100%;
		background-color: #fff;
		padding: 15px;
		margin-top: 0;	
	}
}


.newlined-text {
	display: initial;
}

.whbm-colorblock {
	display: block;
	height: 31px;
	width: 100%;
	background-color: #6dd8f5;
}

/* Lander */
.whbm-lander {
	width: 100vw;
	height: $main-height;
	position: relative;
}

.whbm-lander-overlay {
	@include center-content;
	top: 49%;

	.whbm-lander-hed {
		font-size: 46px;
		line-height: 49px;
		width: 100%;
	}

	.script-flair {
		font-size: 41px;
	}

	.whbm-lander-subhed {
		font-size: 11.25px;
		margin: 10px 38px;
	}

	.whbm-cta-stacked {
		margin-top: 45px;

		&:before {
			-webkit-text-stroke: 1px white;
			font-size: 23px;
			padding-left: 0;
		}
	}
}

.whbm-main-content {
	padding: 0;
}

// Previews
.whbm-preview {
	width: 100vw;
	height: $main-height;
	margin: 0;
	display: block;
	border: none;
	padding: 0;
	cursor: initial;

	&:before,
	&:after {
		display: none;
	}

	&:hover {
		.whbm-preview-overlay {
			background-color: rgba(0, 0, 0, 0.1);
			background-image: -webkit-repeating-linear-gradient(bottom,rgb(17, 17, 17) 0%, rgba(17, 17, 17, 0.25) 10%, rgba(17, 17, 17, 0.45) 26%,rgba(17, 17, 17, 0.37) 54.4%,rgba(17, 17, 17, 0) 100%);
		}
	}

	.whbm-preview-overlay {
		width: 100vw;
		height: $main-height;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.1);
		background-image: -webkit-repeating-linear-gradient(bottom,rgb(17, 17, 17) 0%, rgba(17, 17, 17, 0.25) 10%, rgba(17, 17, 17, 0.45) 26%,rgba(17, 17, 17, 0.37) 54.4%,rgba(17, 17, 17, 0) 100%);
	}

	.whbm-preview-txt {
		transform: none;
		top: initial;
		left: 25%;
		width: 75%;
		bottom: calc(50% - #{$desti-header-height});
		transition: all .3s;

		&.expanded {
			text-align: left;
		}

		.whbm-preview-hed {
			text-align: left;
			display: block;
			transition: all .3s;
			position: absolute;
			bottom: 67px;
			left: 8px;
			width: 90%;
			font-size: 37px;
			line-height: 1.15;
			
			&.expanded {
				display: none;
			}
		}
		
		.whbm-preview-cta {
			pointer-events: auto;
			display: inline-block;
			position: absolute;
		    width: $mobile-cta-width;
		    height: 50px;
		    right: 0;
		    bottom: 0;
		    background-color: $whbm-blue;
		    margin: 0 auto;
		    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.4);
		    z-index: 200;
	        border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
			transition: none;

            &.expanded {
            	transition: all .3s;
				right: calc(100vw - #{$mobile-cta-width});
            }

            .text-cta {
            	font: inherit;
            	font-weight: 700;
            	letter-spacing: 3.5px;
            	@include center-vertically;
            	right: 178%;
            	width: 181px;

            	&.expanded {
            		display: none;
            	}
            }
		}

		.whbm-arrow-icon {
			@include center-content;
			left: 55%;
		    display: block;
		    font-size: 20px;
		    font-weight: 700;
		    color: #fff;
		    transition: all .3s;

		    &:before {
		    	display: block;
		    }

	    	&.expanded {
	    		&:before {
		    		@include prefix-transform($value: rotate(180deg));
		    		position: relative;
		    		right: 10px;
		    	}
	    	}
		}

	}
}

// Expanded Details
.whbm-details {
	position: absolute;
	top: 0;
	padding-top: 0;
}

.whbm-detail {
	display: block;
	opacity: 0;
	@include prefix-transform($value: translateX(#{$mobile-unexpanded-transform}));
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #fff;
	position: absolute;
	height: $main-height;
	width: 100vw;
	transition: all .3s;

	&.expanded {
		@include prefix-transform($value: translateX(#{$mobile-expanded-transform}));
	}
}

.whbm-intro {
	width: calc(#{$mobile-unexpanded-transform} - #{$mobile-expanded-transform});
	padding: 0 10px 0 12px;
	margin: 0;

	.col-img {
		display: none;
	}

	.whbm-intro-hed {
		padding: 0;
		font-size: 31px;
		line-height: 33px;
		margin: 31px auto;
		text-align: center;
	}

	.whbm-intro-copy {
		padding: 0;
		font-size: 15.5px;
		line-height: 1.5;
		text-align: center;
	}
}

.whbm-detail-closer {
	display: none;
}

// Products
.whbm-products {
	width: calc(#{$mobile-unexpanded-transform} - #{$mobile-expanded-transform});
	padding: $mobile-detail-padding;
	margin-top: 10px;

	.whbm-products-hed {
		font-size: 13px;
		letter-spacing: 4px;
		margin-top: 10px;
		margin-bottom: 0;
		display: inline-block;
		text-align: center;
		padding: 0 0 39px 0;
		width: 100%;

		&:before,
		&:after {
			display: none;
		}

		&:after {
			display: block;
		    background-color: $whbm-blue;
		    content: '';
		    text-align: left;
		    position: absolute;
		    left: 0;
		    width: 100%;
		    height: 3px;			
		}
	}
}

.whbm-products-wrapper {
	.whbm-product {
		display: block;
		width: 100%;
		margin: 0 auto 30px auto;
		
		&:hover {
			.whbm-product-img,
			.whbm-product-hed,
			.whbm-product-subhed,
			.whbm-product-price {
				opacity: 1;
			}

			.whbm-buy {
				opacity: 1;
			}
		}	

		.whbm-product-img {
			width: 75%;
		}

		.whbm-buy-wrapper {
			position: static;
		}

		.whbm-buy {
			opacity: 1;
			display: inline-block;
			position: static;
			transform: none;
			width: 218px;
			margin-top: 20px;
			padding: 10px 12px 8px 12px;
		}

	}
}

}



/* BX Wrapper Overrides */
.bx-wrapper {
	margin: 0;

	&.expanded {
		pointer-events: none;
	}

	.bx-viewport {
		border: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		left: 0;
	}
}




