<div class="ik-lander">
	<div class="ik-lander-overlay">
		<h1 class="ik-lander-hed">{{{ hed }}}</h1>
		<div class="script-flair">{{{ script-flair }}}</div>
		<p class="ik-lander-subhed">{{{ subhed }}}</p>
		<div class="icon-thin-arrow ik-cta-stacked" {{{ populateResponsiveValue ga-tags 767 }}} ></div>
	</div>
</div>