<div class="whbm-lander">
	<div class="whbm-lander-overlay">
		<h1 class="whbm-lander-hed">{{{ hed }}}</h1>
		<div class="script-flair">{{{ script-flair }}}</div>
		<p class="whbm-lander-subhed">{{{ subhed }}}</p>
		<div class="icon-thin-arrow whbm-cta-stacked" {{{ populateResponsiveValue ga-tags 767 }}} ></div>
	</div>
</div>