<div class="whbm-lander">
	<div class="whbm-lander-overlay">
		<h1 class="whbm-lander-hed">{{{ hed }}}</h1>
		<h2 class="whbm-lander-subhed">{{{ subhed }}}</h2>
		<div class="icon-thin-arrow whbm-cta-stacked" {{{ populateResponsiveValue ga-tags 767 }}} ></div>
	</div>
</div>