<!-- Main Content (Grid on Desktop, Stacking/Snapping Slides on Mobile) -->
<div class="whbm-main-content">
	<!-- Previews -->
	<div class="whbm-previews">
		{{#each previews}}
			{{> preview}}
		{{/each}}
	</div>

	<!-- Expanded Details -->
	<div class="whbm-details">
		{{#each details}}
			{{> detail}}
		{{/each}}

	</div>
</div> 