<!-- Main Content (Grid on Desktop, Stacking/Snapping Slides on Mobile) -->
<div class="whbm-main-content">
	<!-- Previews -->
	<div class="whbm-previews">
		{{#each previews}}
			{{> preview}}
		{{/each}}
	</div>

	<!-- Expanded Details -->
	<div class="whbm-details">
		{{#each details}}
			{{> detail}}
		{{/each}}

		<!-- Prev/Next Buttons -->
		<!-- might need to manually add GA tags here -->
		<div class="whbm-nav">
			<div class="whbm-nav-btn whbm-prev" data-direction="prev" data-gae-track="event" data-gae-category="destination" data-gae-action="click" data-gae-label="ikea_nav_prev">
				<span class="whbm-nav-icon icon-slideshow-arrow-left"></span> Previous
			</div>

			<div class="whbm-nav-btn whbm-next" data-direction="next" data-gae-track="event" data-gae-category="destination" data-gae-action="click" data-gae-label="ikea_nav_next">
				Next Solution <span class="whbm-nav-icon icon-slideshow-arrow"></span>
			</div>
		</div>

	</div>
</div> 