<div class="whbm-preview" data-preview-id={{ id }}>
	<img class="whbm-preview-img" src={{ populateResponsiveValue image 767 }} alt="">
	
	<div class="whbm-preview-overlay">
		<div class="whbm-preview-txt">
			<h2 class="whbm-preview-hed">{{{ hed }}}</h2>

			<div class="whbm-preview-cta" {{{ ga-tags }}} >
				<span class="icon-thin-arrow whbm-arrow-icon only-mobile"></span>
			</div>
		</div>
	</div>
</div>